{$SAFEVAULT_DOMAIN} {
    encode gzip
    reverse_proxy safevault:8088

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
